
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,400);

body {
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    min-width: 960px;
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    color: #000;
    background-size: cover;
    background-color: #9e9e9e26 !important;
}

.toggle-xpaths, .toggle-cat{
    width: 35px;
    background: #9e9e9e26;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    color: #333333;
}

.toggle-xpaths:hover, .toggle-cat:hover{
    
    background: #1e7ccd;
    color: #fff;
}

.copy{
    background: #9e9e9e26;
    color: #333333;
}

.copy:hover{
    background: #1e7ccd;
    color: #fff;
    border: 1px solid #1e7ccd;
}

.hide-element{
    display: none;
}

.cat-container{

    background-color: #9e9e9e26;
}

h1 {
    font-size: 50px;
    letter-spacing: -2px;
    line-height: 40px;
    text-align: center;
}

.error-color{
    background-color: #f2c80f;
}

.alert-color{
    background-color: #fd625e;
}

.structure-color{
    background-color: #a66999;
}

.html5-color{
    background-color: #3599b8;
}

.contrast-color{
    background-color: #374649;
}

.feature-color{
    background-color: #01b8aa;
}

#catTable{
    width: 35%;
    display: inline-block;
}

#pieChart{
    display: inline-block;
}

.errorTable, .alertTable, .structureTable, .html5Table, .contrastTable, .featureTable{
    display: none;
}

th{
    font-size: 23px;
}

h2{
    font-size: 30px;
}

p {
    margin: 0 0 10px 0;
}

#subscribe p ,#subscribe form{
    text-align: center;
}

#subscribe input {
    background: #9e9e9e26;
    color: #7a7a7a;
    vertical-align: middle;
    width: 393px;
    border: 1px solid #333333;
    padding: 10px;
    font-size: 14px;
}

#subscribe input[type="button"] ,#subscribe input[type="submit"]{
    background: #9e9e9e26;
    width: auto;
    padding: 10px 25px;
    cursor: pointer;
    margin: 0 0 0 -6px;
    font-weight: bold;
    font-size: 14px;
    color: #333333;
}

#subscribe input[type="button"]:hover, #subscribe input[type="submit"]:hover {
    background: #1e7ccd;
    color: #fff;
    border: 1px solid #1e7ccd;
}

@media(max-width:768px) {
    body {
        min-width: initial !important;
    }
} 

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: "Loading";
    background: rgba( 255, 255, 255, .8 ) url("images/loading.gif") 50% 50% no-repeat; */
}

body.loading {
    overflow: hidden;
}

body.loading .modal {
    display: block;
}

@media(max-width:420px) {
    h1 {
        float: initial;
        text-align: center;
        margin-left: 0px;
        margin-bottom: 0px;
    }

    #subscribe input[type="button"] {
        margin-top: 10px;
    }

    #subscribe input {
        width: 80%;
    }
}
