body{
  font-size: 34px;
  height: 100%;
  background-color: #e6d9d9;
}

a{
  font-size: 16px;
  float: right;
  box-shadow: 4px 4px 0px 0px #8a2a21;
  background: linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
  background-color: #c62d1f;
  border-radius: 5px;
  border: 1px solid #d02718;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  padding: 7px 25px;
}
#output {
  text-shadow: 1px 1px 1px black;
  font-weight: bold;
  font-style: italic;
  color: #e4e2e2;
  background-color: #c62d1f;
  border: 3px solid #ab5b5b;
  font-family: verdana;
  padding: 3px 23px 8px 23px;
 }

#container {
  height: 90%;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-flow: row wrap; 
}

.note {
  text-align: center;
  font-size: 161px;
  box-shadow: 8px 8px 8px 8px #3f120e;
  width: 200px;
  height: 200px;
  border-radius: 1000px;
  margin: 0.5em 0.8em; 
}

.playing{
  opacity: 0.8;
  box-shadow: 3px 3px 3px 3px #3f120e;
}

#note-a {
  background-color: #f2c80f; 
}

#note-b {
  background-color: #fd625e;
}

#note-c {
  background-color: #a66999; 
}

#note-d {
  background-color: #3599b8; 
}

#note-e {
  background-color: #374649;
}

button {
  font-size: 2.2vw;
  box-shadow: 4px 4px 0px 0px #8a2a21;
  background: -ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
  background: linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
  background-color: #c62d1f;
  border-radius: 5px;
  border: 1px solid #d02718;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  padding: 7px 25px;
  text-shadow: 3px 3px 0px #810e05; 
}

a:hover, button:hover {
  background: -ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
  background: linear-gradient(to bottom, #f24437 5%, #c62d1f 100%); 
}

button:active{
  outline: none;
  box-shadow: 2px 2px 0px 0px #8a2a21;
  transform: translateY(4px);
}
@media (max-width: 1024px)  {
  body{
    font-size: 72px;
  }
  #output{
    display: block;
  }
  button{
    font-size: 90px;
  }
}